mixin video(video)

    .video.watch
        a(href=`/video/${video._id}`).videoSize
            video(src="/"+video.video) 
        .videoInfo.watchInfo
            
            a(href=`/user/${user._id}`)
                img(src="/"+user.avatarUrl , width="200px" , height="200px").profileImg
            .meta
                p.title=video.title
                .meta-video.meta-watch
                    a(href=`/user/${user._id}`)=video.owner.name
                    span 조회수 #{video.meta.view}회
            //- span=video.createAt