extends ../base
include ../mixins/video

block content
    .bc
        .content
            .main-video
                video(src="/"+video.video, controls)
                .video-meta-header
                    #hastags
                        each hashtag in hashtags
                            span.hashtag=hashtag 
                    h2#title=video.title
                    //- #{video.owner.name}  
                    #video-meta-info
                        span #{video.meta.view}회
                        br
                        span=video.createAt.toString().substring(4,15)
                        span 좋아요 #{video.meta.like}   싫어요 #{video.meta.unLike}
                if String(video.owner._id) === String(user._id)
                    hr
                    a(href=`${video.id}/edit-video`) Edit Video &rarr; 
                    br
                    a(href=`${video.id}/delete-video`) Delete Video &rarr;
            .video-list
                each video in videos 
                    +video(video)