extends ../base
include ../mixins/video

block content
    .bc
        .content
            .main-video(data-id=video.id)
                video(src="/"+video.video, controls)
                .video-first-info
                    #hastags
                        each hashtag in hashtags
                            span.hashtag=hashtag 
                    h2#title=video.title
                    //- #{video.owner.name}  
                    #video-meta-info
                        .view-time
                            span#view #{video.meta.view}회
                            span=video.createAt.toString().substring(4,15)
                        .thumbs
                            i.fas.fa-thumbs-up   
                            span#up #{video.meta.like}
                            i.fas.fa-thumbs-down   
                            span#down #{video.meta.unLike}
                .video-second-info

                if String(video.owner._id) === String(user._id)
                    hr
                    a(href=`${video.id}/edit-video`) Edit Video &rarr; 
                    br
                    a(href=`${video.id}/delete-video`) Delete Video &rarr;
            .video-list
                each video in videos 
                    +video(video)
block script 
    if loggedIn
        script(src="/static/js/thumbs.js") 